body {
	background-color: #fafafa; 
	color: #5d665b;
	margin: 0 px;
	padding: 0px;
	font-family: Verdana, Gevena, Arial, sans-serif;
	font-size: 12px;
	line-height: 180%;
}

#cabecalho {
	background-color: #fafafa;	
	height: 40px;
	text-align: center;
}

#logotipo {
	color: #333366;
	display: block;	
	font-size: 25px;
	font-weight: bold;	
	left: 50%;
	margin-top: 5px;	
}

#busca {
	background-color: #333333;
	display: block;
	height: 25px;
	margin: 0 auto;
	background-color: #333366;
	text-align: center;
}

#buscarapida {
	margin: 0px;	
	max-height: 25px;
	padding: 0px;
}

#publicidade {
	background-color: #f0f0f0; 
	border: solid #999;
	border-top-color: #f2f2f2;
	border-bottom-color: #e8e8e8;
	border-width: 1px 0 1px 0;
	height: 400px;	
}

#corpo {
	background-color: #fafafa;
	border-top-color: #f0f0f0;
	border-bottom-color: #e0e0e0;	
	border-width: 1px 0 1px 0;
	text-align: center;
}

.centralizador {
	margin-left: auto;
    margin-right: auto;	
	width: 600px;	
}

#rodape {
 	bottom: 0;
	border: solid #999;
	border-top-color: #e6e6e6;
	border-width: 1px 0 0 0;	
 	height: 20px; 
 	position: relative;
	text-align: center; 	
}

.conteudo {
	text-align: left;	
	float: left;
	width: 250px;
	margin: 0px 20px 0px 20px;
}

.titulo_conteudo {
	color: #4f4f4f;	
	float: center;
	font-size: small;	
	font-weight: bold;
	text-align: left;	
	margin-left: 25px;
}

.clear {
	clear: both;
}
